body {
  background-color: #f4f0f0cc;
  display: block;
  justify-content: center;
  align-items: center;
  background-image: url(./elka.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: inherit;
  font-family: cursive;
}
.container__title {
  font-size: 26px;
  color: #ffffff;
  line-height: 1.62;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 45px;
  font-weight: 900;
  padding-left: 530px;
  padding-top: 100px;
  color: #248562;
  text-shadow: 1px 3px #e077c6;
}
.timer-box {
  color: #248562;
  margin-left: 470px;
  display: flex;
}

.timer {
  justify-content: space-between;
  align-items: center;
  color: #87edcd;
  text-shadow: 1px 6px #e4f0f7;
}

button {
  width: 150px;
  height: 70px;
  margin-left: 800px;
  margin-top: 100px;
  background-color: rgb(252, 210, 44);
  font-size: 35px;
  text-shadow: 1px 3px #e077c6;
  border: 1px #cecbcd;
  box-shadow: 1px 8px 40px rgb(197, 81, 116), 1px 8px 40px rgb(252, 210, 44);
  border-radius: 30px;
  font-family: cursive;
}

.field {
  display: inline-block;
  width: 150px;
  height: 100px;
  border: 1px #cecbcd;
  margin-right: 15px;
  margin-top: 70px;
  background: rgb(252, 210, 44);
  box-shadow: 1px 8px 40px rgb(197, 81, 116);
  border-radius: 30px;
}
.value {
  font-size: 35px;
  text-align: center;
}
.label {
  font-size: 20px;
  text-align: center;
}
.size {
  display: block;
  width: 150px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
